<!DOCTYPE html>
<html>
<head>
    <title>Hex game</title>

    <link href="resources/css/main.css" rel="stylesheet"/>

    <script type="text/javascript" src="resources/js/lib/lodash-2.4.1.js"></script>
    <script type="text/javascript" src="resources/js/lib/angular-1.2.16.js"></script>
    <script type="text/javascript" src="resources/js/lib/d3-3.4.6.min.js"></script>
    <script type="text/javascript" src="resources/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="resources/js/lib/bootstrap.min.js"></script>

    <script type="text/javascript" src="resources/js/mainApp.js"></script>
    <script type="text/javascript" src="resources/js/services/d3Services.js"></script>
    <script type="text/javascript" src="resources/js/controllers/controllers.js"></script>
    <script type="text/javascript" src="resources/js/directives/boardDirective.js"></script>

    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/font-awesome-4.1.0/css/font-awesome.css">

<body ng-app="hexGame" ng-controller="HexController">
<!--TODO: Extract the following section into a html partial file-->
<section ng-show="!side" class="login">
    <div class="hex_row_odd">
        <div class="center">
            <div class="hexagon">
                <div class="hex1">
                    <div class="hex2" style="background: url('../resources/images/cell1.jpg') center no-repeat; background-size: 160%">

                    </div><!--/hex2-->
                </div><!--/hex1-->
            </div><!--/hexagon-->
        </div><!--/center-->

        <div class="center">
            <div class="hexagon">
                <div class="hex1">
                    <div class="hex2" style="background: url('../resources/images/cell2.jpg') center no-repeat; background-size: 120%;">
                    </div><!--/hex2-->
                </div><!--/hex1-->
            </div><!--/hexagon-->
        </div><!--/center-->

    </div><!--/hex_row_even-->

    <div class="hex_row_even">

        <div class="center">
            <div class="hexagon">
                <div class="hex1">
                    <div class="hex2" style="background: url('../resources/images/cell3.jpg') center no-repeat; background-size: 160%;">
                        <div class="desc three join" ng-visible="canJoinAsPlayer()" ng-click="loginAsPlayer()">
                            <h2>Join the game</h2>
                        </div>
                    </div><!--/hex2-->
                </div><!--/hex1-->
            </div><!--/hexagon-->
        </div><!--/center-->

        <div class="center">
            <div class="hexagon">
                <div class="hex1">
                    <div class="hex2" style="background: url('../resources/images/gameBackground.png') center no-repeat">
                        <div class="desc">

                        </div>
                    </div><!--/hex2-->
                </div><!--/hex1-->
            </div><!--/hexagon-->
        </div><!--/center-->

        <div class="center">
            <div class="hexagon">
                <div class="hex1">
                    <div class="hex2" style="background: url('../resources/images/cell4.jpg') center no-repeat; background-size: 160%;">
                        <div class="desc base view" ng-click="loginAsViewer()">
                            <h2>View the game</h2>
                        </div>
                    </div><!--/hex2-->
                </div><!--/hex1-->
            </div><!--/hexagon-->
        </div><!--/center-->

    </div><!--/hex_row_even-->

    <div class="hex_row_odd">
        <div class="center">
            <div class="hexagon">
                <div class="hex1">
                    <div class="hex2" style="background: url('../resources/images/cell5.jpg') center no-repeat">
                        <div class="desc"></div>
                    </div><!--/hex2-->
                </div><!--/hex1-->
            </div><!--/hexagon-->
        </div><!--/center-->

        <div class="center">
            <div class="hexagon">
                <div class="hex1">
                    <div class="hex2" style="background: url('../resources/images/cell6.jpg') center no-repeat; background-size: 160%;">
                        <div class="desc"></div>
                    </div><!--/hex2-->
                </div><!--/hex1-->
            </div><!--/hexagon-->
        </div><!--/center-->

    </div><!--/hex_row_even-->

</section>

<nav class="navbar navbar-default" role="navigation" ng-show="side">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hex-game-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">HEX GAME</a>
        </div>
        <div class="collapse navbar-collapse" id="hex-game-menu">
            <ul class="nav navbar-nav">
                <li ng-class="{active: gameScreenSelected}" ng-click="showGameScreen()"><a href="#">Play</a></li>
                <li ng-class="{active: aboutScreenSelected}"><a href="#" ng-click="showAboutScreen()">About</a></li>
                <li ng-show="!isProjectorView()" ng-click="logout()"><a href="#">Quit</a></li>
            </ul>
        </div>
    </div>
</nav>
<div ng-show="side && gameScreenSelected">
    <section class="container">
        <div style="text-align: center">Connect the two borders of your colour to win the game!</div>
        <div class="row">
            <div class="col-xs-2 col-xs-offset-3">
                <div class="fa fa-user player blue-side" ng-class="{offline: waitingForBluePlayer()}">
                    {{side === 'blue' ? 'YOU' : 'BLUE PLAYER'}}</span></div>
                <div class="fa fa-clock-o player blue-side blink" ng-show="getTurnSide() ==='blue'">
                    Current turn
                </div>
            </div>
            <div class="col-xs-2">
                <i class="fa fa-group">{{side === 'viewer' ? 'YOU' : 'Views'}}</i>
            </div>
            <div class="col-xs-2">
                <div class="fa fa-user player red-side" ng-class="{offline: waitingForRedPlayer()}">
                    {{side === 'red' ? 'YOU' : 'RED PLAYER'}}
                </div>
                <div class="fa fa-clock-o player red-side blink" ng-show="getTurnSide() ==='red'">
                    Current turn
                </div>
            </div>
        </div>
        <div class="row">
            <div class="center-block">
                <board-directive></board-directive>
            </div>
        </div>
    </section>


    <div class="gameControls">

    	<div class="projectorView" ng-show="isViewer() && isProjectorView()">
            <div class="qrCodeIntro">
    		Scan this QR code<br />and join the fun!<br /><img src="resources/images/qrCode.png" />
            </div>
            <!--
            <dl class="statistics">
                <dt>Games started:</dt><dd>0</dd>
            </dl>
            <dl class="statistics">
                <dt>Longest game:</dt><dd>0 pawns</dd>
            </dl>
            <dl class="statistics">
                <dt>Shortest game:</dt><dd>0 pawns</dd>
            </dl>
            <dl class="statistics">
                <dt>Longest winning path:</dt><dd>0 pawns</dd>
            </dl>
            <dl class="statistics">
                <dt>Shortest winning path:</dt><dd>0 pawns</dd>
            </dl>
            <dl class="statistics">
                <dt>Total pawns placed:</dt><dd>0 pawns</dd>
            </dl>
            <dl class="statistics">
                <dt>Wins for {{stats.wins</dt><dd>0 pawns</dd>
            </dl>
-->
    	</div>
    </div>
</div>
<div ng-show="aboutScreenSelected">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTechnicalStack">
                        Technical stack
                    </a>
                </h4>
            </div>
            <div id="collapseTechnicalStack" class="panel-collapse collapse in">
                <div class="panel-body">
                    <img src="resources/images/stuff-logo.png">
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseCompany">
                        Bombora Technologies
                    </a>
                </h4>
            </div>
            <div id="collapseCompany" class="panel-collapse collapse">
                <div class="panel-body">
                    <a href="http://www.bomboratech.com.au" title="Take me to Bombora Technologies website"><img src="resources/images/logo.png" class="pull-left"></a>
                    <p>Bombora Technologies is a group of companies with a strong history in Internet technology. The Groups brings together hardware, software and highly skilled people to create a wave of energy and opportunity within the Internet world. Our group of companies has created a strong reputation as specialists in solving complex business problems through the efficient development of high volume, secure, robust web systems</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
</body>
</html>
