<!DOCTYPE html>
<html>
<head>
    <title>Hex game</title>

    <link href="resources/css/main.css" rel="stylesheet"/>

    <script type="text/javascript" src="resources/js/lib/lodash-2.4.1.js"></script>
    <script type="text/javascript" src="resources/js/lib/angular-1.2.16.js"></script>
    <script type="text/javascript" src="resources/js/lib/d3-3.4.6.min.js"></script>

    <script type="text/javascript" src="resources/js/mainApp.js"></script>
    <script type="text/javascript" src="resources/js/services/ioServices.js"></script>
    <script type="text/javascript" src="resources/js/services/d3Services.js"></script>
    <script type="text/javascript" src="resources/js/controllers/controllers.js"></script>
    <script type="text/javascript" src="resources/js/directives/boardDirective.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<body ng-app="hexGame" ng-controller="HexController">
    <div class="welcomeScreen" ng-show="!side">
        <div class="welcomeScreenJoin" ng-show="canJoinAsPlayer()" ng-click="loginAsPlayer()">Join the game</div>
        <div class="welcomeScreenView" ng-click="side = 'viewer'">View the game</div>
    </div>
    <div ng-show="side">
        <board-directive></board-directive>
        <div class="gameControls" ng-show="isPlayer()">
            <div class="gameControlsLogo"><img src="resources/images/logo.png" /></div>
            <div class="gameControlsSide">You are the <span ng-class="{redSide: side == 'red', blueSide: side =='blue'}">{{side}}</span> player</div>
            <div class="gameControlsInstructions">Connect the two borders<br />of your colour<br />to win the game!</div>
            <div class="gameControlsLogout"><button id="logout-action" class="btn btn-primary" ng-click="logout()">Quit</button></div>
        </div>
    </div>
<script src="/socket.io/socket.io.js"></script>
</body>
</html>