<!DOCTYPE html>
<html>
<head>
    <title>Hex game</title>

    <link href="resources/css/main.css" rel="stylesheet"/>

    <script type="text/javascript" src="resources/js/lib/lodash-2.4.1.js"></script>
    <script type="text/javascript" src="resources/js/lib/angular-1.2.16.js"></script>
    <script type="text/javascript" src="resources/js/lib/d3-3.4.6.min.js"></script>
    <script type="text/javascript" src="resources/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="resources/js/lib/bootstrap.min.js"></script>

    <script type="text/javascript" src="resources/js/mainApp.js"></script>
    <script type="text/javascript" src="resources/js/services/ioServices.js"></script>
    <script type="text/javascript" src="resources/js/services/d3Services.js"></script>
    <script type="text/javascript" src="resources/js/controllers/controllers.js"></script>
    <script type="text/javascript" src="resources/js/directives/boardDirective.js"></script>

    <link rel="stylesheet" href="resources/css/bootstrap.min.css">

<body ng-app="hexGame" ng-controller="HexController">
<section ng-show="!side">
    <div class="hex_row_odd">
        <div class="center">
            <div class="hexagon">
                <div class="hex1">
                    <div class="hex2" style="background: url('../resources/images/cell1.png') center no-repeat">

                    </div><!--/hex2-->
                </div><!--/hex1-->
            </div><!--/hexagon-->
        </div><!--/center-->

        <div class="center">
            <div class="hexagon">
                <div class="hex1">
                    <div class="hex2" style="background: url('../resources/images/cell2.jpg') center no-repeat">
                    </div><!--/hex2-->
                </div><!--/hex1-->
            </div><!--/hexagon-->
        </div><!--/center-->

    </div><!--/hex_row_even-->

    <div class="hex_row_even">

        <div class="center">
            <div class="hexagon">
                <div class="hex1">
                    <div class="hex2" style="background: url('../resources/images/cell3.jpg') center no-repeat">
                        <div class="desc three" ng-visible="canJoinAsPlayer()" ng-click="loginAsPlayer()">
                            <h2>Join the game</h2>
                        </div>
                    </div><!--/hex2-->
                </div><!--/hex1-->
            </div><!--/hexagon-->
        </div><!--/center-->

        <div class="center">
            <div class="hexagon">
                <div class="hex1">
                    <div class="hex2" style="background: url('../resources/images/gameBackground.png') center no-repeat">
                        <div class="desc">

                        </div>
                    </div><!--/hex2-->
                </div><!--/hex1-->
            </div><!--/hexagon-->
        </div><!--/center-->

        <div class="center">
            <div class="hexagon">
                <div class="hex1">
                    <div class="hex2" style="background: url('../resources/images/cell4.png') center no-repeat">
                        <div class="desc base" ng-click="loginAsViewer()">
                            <h2>View the game</h2>
                        </div>
                    </div><!--/hex2-->
                </div><!--/hex1-->
            </div><!--/hexagon-->
        </div><!--/center-->

    </div><!--/hex_row_even-->

    <div class="hex_row_odd">
        <div class="center">
            <div class="hexagon">
                <div class="hex1">
                    <div class="hex2" style="background: url('../resources/images/cell5.jpg') center no-repeat">
                        <div class="desc"></div>
                    </div><!--/hex2-->
                </div><!--/hex1-->
            </div><!--/hexagon-->
        </div><!--/center-->

        <div class="center">
            <div class="hexagon">
                <div class="hex1">
                    <div class="hex2" style="background: url('../resources/images/cell6.jpg') center no-repeat">
                        <div class="desc"></div>
                    </div><!--/hex2-->
                </div><!--/hex1-->
            </div><!--/hexagon-->
        </div><!--/center-->

    </div><!--/hex_row_even-->

</section>

<nav class="navbar navbar-default" role="navigation" ng-show="side">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hex-game-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">HEX GAME</a>
        </div>
        <div class="collapse navbar-collapse" id="hex-game-menu">
            <ul class="nav navbar-nav">
                <li ng-class="{active: gameScreenSelected}" ng-click="showGameScreen()"><a href="#">Play</a></li>
                <li ng-class="{active: aboutScreenSelected}"><a href="#" ng-click="showAboutScreen()">About</a></li>
                <li ng-show="!isProjectorView()" ng-click="logout()"><a href="#">Quit</a></li>
            </ul>
        </div>
    </div>
</nav>
<div ng-show="side && gameScreenSelected">
    <board-directive></board-directive>
    <div class="gameControls">
        <div ng-show="isPlayer()">
            <div class="gameControlsSide">You're the <span
                    ng-class="{redSide: side == 'red', blueSide: side =='blue'}">{{side}}</span> player</div>
            <div class="gameControlsTurn" ng-show="isGameInProgress()">It's <span ng-show="!isPlayerTurn()">not</span> your turn!</div>
            <div class="gameControlsInstructions">Connect the two borders<br/>of your colour<br/>to win the game!</div>
        </div>
        <div ng-show="isViewer()">
            <div class="gameControlsSide" ng-show="!isProjectorView()">You're a viewer</div>
            <div class="gameControlsSide" ng-show="getTurnSide()"><span
                    ng-class="{redSide: getTurnSide() == 'red', blueSide: getTurnSide() =='blue'}">{{getTurnText()}}</span> player's turn</div>
        </div>
        <div ng-show="isWaitingForPlayers()">
            <div class="gameControlsWaiting">Waiting for players...</div>
        </div>
    	<div class="projectorView" ng-show="isViewer() && isProjectorView()">
    		Scan this QR code<br />and join the fun!<br /><img src="resources/images/qrCode.png" />
    	</div>
    </div>
</div>
<div ng-show="aboutScreenSelected">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTechnicalStack">
                        Technical stack
                    </a>
                </h4>
            </div>
            <div id="collapseTechnicalStack" class="panel-collapse collapse in">
                <div class="panel-body">
                    <img src="resources/images/stuff-logo.png">
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseCompany">
                        Bombora Technologies
                    </a>
                </h4>
            </div>
            <div id="collapseCompany" class="panel-collapse collapse">
                <div class="panel-body">
                    <a href="http://www.bomboratech.com.au" title="Take me to Bombora Technologies website"><img src="resources/images/logo.png" class="pull-left"></a>
                    <p>Bombora Technologies is a group of companies with a strong history in Internet technology. The Groups brings together hardware, software and highly skilled people to create a wave of energy and opportunity within the Internet world. Our group of companies has created a strong reputation as specialists in solving complex business problems through the efficient development of high volume, secure, robust web systems</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
</body>
</html>