<!DOCTYPE html>
<html>
<head>
    <title>Hex game</title>

    <link href="resources/css/main.css" rel="stylesheet"/>

    <script type="text/javascript" src="resources/js/lib/lodash-2.4.1.js"></script>
    <script type="text/javascript" src="resources/js/lib/angular-1.2.16.js"></script>
    <script type="text/javascript" src="resources/js/lib/d3-3.4.6.min.js"></script>

    <script type="text/javascript" src="resources/js/mainApp.js"></script>
    <script type="text/javascript" src="resources/js/services/commonServices.js"></script>
    <script type="text/javascript" src="resources/js/services/d3Services.js"></script>
    <script type="text/javascript" src="resources/js/controllers/controllers.js"></script>
    <script type="text/javascript" src="resources/js/directives/boardDirective.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<body ng-app="hexGame" ng-controller="HexController">
<div ng-show="false">Please wait ...</div>
<div ng-cloak ng-show="delayShow">
    <div class="form-group has-error" ng-show="showError()">
        <label class="control-label">Error: It is not your turn to make move.</label>
    </div>
    <div class="form-group" ng-show="canJoinAsPlayer('red')">
        <button class="btn btn-success"ng-click="loginAsPlayer('red')">Join as a red player</button>
    </div>
    <div class="form-group" ng-show="canJoinAsPlayer('blue')">
        <button class="btn btn-success"ng-click="loginAsPlayer('blue')">Join as a blue player</button>
    </div>
    <div ng-show="isPlayer()">
        <div class="form-group">
            You are the {{side}} player
        </div>
        <div class="form-group">
            <board-directive></board-directive>
        </div>
        <div class="form-group">
            <button id="logout-action" class="btn btn-primary" ng-click="logout()">Quit</button>
        </div>
    </div>
    <p class="text-success" ng-bind-html-unsafe='gameActions' />
</div>
<script src="/socket.io/socket.io.js"></script>
</body>
</html>