@font-face {
    font-family: "AlrightSansRegular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/alrightsans-regular-v3-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/alrightsans-regular-v3-webfont.woff") format("woff"), url("../fonts/alrightsans-regular-v3-webfont.ttf") format("truetype"), url("../fonts/alrightsans-regular-v3-webfont.svg#alright_sansregular") format("svg");
}
@font-face {
    font-family: "AlrightSansMedium";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/alrightsans-medium-v3-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/alrightsans-medium-v3-webfont.woff") format("woff"), url("../fonts/alrightsans-medium-v3-webfont.ttf") format("truetype"), url("../fonts/alrightsans-medium-v3-webfont.svg#alright_sansmedium") format("svg");
}
@media not all {
    @font-face {
        font-family: "AlrightSansRegular";
        src: url("../fonts/alrightsans-regular-v3.svg") format("svg");
    }
    @font-face {
        font-family: "AlrightSansMedium";
        src: url("../fonts/alrightsans-medium-v3.svg") format("svg");
    }
}

.welcomeScreen {
    background: url("../images/gameBackground.png") no-repeat center top;
    width: 584px;
    height: 600px;
}

.welcomeScreenJoin {
    display: inline-block;
    font-family: AlrightSansMedium,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
    color: white;
    padding-top: 180px;
    width: 230px;
    text-align: center;
}

.welcomeScreenJoin:hover {
    cursor: pointer;
}

.welcomeScreenView {
    display: inline-block;
    font-family: AlrightSansMedium,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
    color: white;
    margin-left:116px;
    padding-top: 180px;
    width: 230px;
    text-align: center;
}

.welcomeScreenView:hover {
    cursor: pointer;
}

.gameControls {
    font-family: AlrightSansMedium,"Helvetica Neue",Helvetica,Arial,sans-serif;
    float: left;
}

.gameControlsLogo {
    padding-bottom: 10px;
    text-align: center;
}

.gameControlsSide {
    font-size: 22px;
}

.gameControlsTurn {
	font-size: 22px;
    text-align: center;
}

.gameControlsLogout {
    margin-top: 10px;
    text-align: center;
}

.redSide {
    color: red;
}

.blueSide {
    color: blue;
}

.gameControlsInstructions {
    font-size: 16px;
    text-align: center;
}

.boardDiv {
    float: left;
    background: url("../images/logo.png") no-repeat center;
    background-size: 283px 193px;
}

.boardCellSymbol {
    stroke: black;
    stroke-width: 1;
}

.boardCell {
    fill: white;
}

.boardBorder {
    stroke-width: 2;
    fill:none;
}

.boardRedBorder {
    stroke: red;
}

.boardBlueBorder {
    stroke: blue;
}

.pawn {
}

.redPawn {
    fill: red;
}

.bluePawn {
    fill: blue;
}

.boardTitle {
    font-family: AlrightSansMedium,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
    fill: black;
    pointer-events: none;
    text-anchor: middle;
}

.winningPath {
	stroke: yellow;
    stroke-width: 2;
    fill: none;
}

.winningMessage {
    font-family: AlrightSansMedium,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 26px;
    fill: black;
    pointer-events: none;
    text-anchor: middle;
}